# GEMINI_API_KEY: Required for Gemini AI API calls.
# Get a key from: https://aistudio.google.com
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: Optional APP_URL if needed.
APP_URL="MY_APP_URL"

# USER_NAME: Dynamic username used by the voice assistant
USER_NAME="Chiru"

# WAKE_WORD: Wake word used to trigger voice session activation
WAKE_WORD="nova"
